<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Andrew Furth | Full Stack Web Developer</title>
  <!-- ADD METADATA -->

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/2347b6acb7.js"></script>

  <!-- fullpage.js CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.7/jquery.fullPage.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/projects.css">
</head>
<body>
  <ul id="menu">
      <li data-menuanchor="home" class="active" ><a href="#home">Home</a></li>
      <li data-menuanchor="portfolio"><a href="#portfolio">Portfolio</a></li>
      <li data-menuanchor="about"><a href="#about">About</a></li>
  </ul>

  <div id="fullpage">
      <div class="section" id="sect-home">
        <h1>Andrew Furth</h1>
        <h2>Full Stack Software Developer</h2>
        <div>
          <a href="mailto:a.nguyen020@gmail.com"><i class="fa fa-envelope-o fa-5x"></i></a>
          <a href="https://github.com/anguyen020"><i class="fa fa-github fa-5x"></i></a>
          <a href="https://www.linkedin.com/in/ashley-nguyen-a33969111"><i class="fa fa-linkedin-square fa-5x"></i></a>
        </div>
      </div>

      <div class="section" id="sect-portfolio"></div>

      <div class="section" id="sect-about">
        <div id="bio-container">
          <p id="bio">I'm a full stack software developer who is passionate about creating accessible, scalable tools that spread knowledge, spur critical thinking and enable growth.</p>
          <br>
          <a href="https://drive.google.com/file/d/0B8T8OTNnsztJaVpPdGl0elkzeHc/view?usp=sharing"><h2>Full Resume</h2><i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i></a>
        </div>
      </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.7/jquery.fullPage.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>