.project-container {
  display: block;
  width: 1200px;
  height: 435px;
  margin: 0 auto;
}

.project-pg1 {
  float: left;
  display: inline-block;
  width: 80%;
  height: 130%;
  border: 3px solid black;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-left: 10%;
  margin-right: 10%;
}

.project-pg2 {
  float: left;
  display: inline-block;
  width: 45%;
  height: 130%;
  border: 3px solid black;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.project-pg1:hover, .project-pg2:hover {
  background-color: #A9A9A9;
}

.project-pg1 img, .project-pg2 img {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  border:1px solid #021a40;
}

.proj-tech, .proj-description {
  display: block;
  width: 75%;
  margin: 10px auto;
  text-align: left;
}

.project-pg1>a, .project-pg2>a {
  text-align: center;
  display: block;
}